{% extends 'page.html.twig' %}

{% set collection = page.collection() %}
{% set  header_image = media.images[header.feature_image].url %}

{% block page_content %}
<div id="blog-posts" class="container">

    {% for child in collection %}

        {# DETERMINE IMAGE #}
        {% set blog_post_image = child.header.blog_post_image|defined(true) %}
        {% set blog_post_image_width  = child.header.blog_post_image_width|defined(300) %}
        {% set blog_post_image_height = child.header.blog_post_image_height|defined(300) %}
        {% set blog_post_image_file = child.header.blog_post_image_file %}
        {% if blog_post_image %}
            {% if blog_post_image_file %}
                {% set blog_post_image_media = child.media.images[blog_post_image_file].resize(300,300).url %}
            {% else %}
                {% set blog_post_image_media = child.media.images|first.resize(300, 300).url %}
            {% endif %}
            {% if not blog_post_image_media %}
                {# {% set blog_post_image_media = theme_url ~ "/dist/images/logo_sketch.jpg" %} #}
            {% endif %}
        {% endif %}

        <div class="blog-post-item">
            <div class="row">
                <div class="col-md-4 blog-post-thumbnail">
                    {% if blog_post_image_media %}
                        <img src="{{ blog_post_image_media }}" class="blog-post-view-thumbnail pull-left">
                    {% endif %}
                </div>
                <div class="col-md-8 blog-post-info">

                    <div class="row">
                        <div class="col-sm-11">
                            <h2><a href="{{ child.url }}">{{ child.title }}</a></h2>
                        </div>

                        <div class="blog-post-date col-sm-1">
                            <time class="dt-published" datetime="{{ child.date|date("c") }}">
                                <span>{{ child.date|date("d") }}</span>
                                <em>{{ child.date|date("M") }}</em>
                            </time>
                        </div>
                    </div>


                    {% if child.header.taxonomy.tag %}
                        <ul class="blog-post-tags">
                            {% for tag in child.header.taxonomy.tag %}
                                <li>
                                    <a href="{{ page.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
                                </li>
                            {% else %}
                                <li>NOPE</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p>
                        {% if child.summary != child.content %}
                            {{ child.summary }}
                        {% else %}
                            {{ child.content }}
                        {% endif %}
                    </p>
                    <a href="{{ child.url }}" class="btn btn-ghost">READ MORE </a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if config.plugins.pagination.enabled and collection.params.pagination %}
        <div class="pagination-wrapper">
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        </div>
    {% endif %}
</div>

{% endblock page_content %}