{% extends 'default.html.twig' %}

{% block content %}
    {% set background = page.media.images[page.header.feature_image].url %}

    <div class="fullscreen-hero" style="background-image: url({{ background }})">

        <div class="hero-content">
            <h1>Robust code</h1>
            <h2>done with <em>style!</em></h2>
        </div>

        <a href="#content-container" class="scroll-icon scroll-down-icon"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>{# #page=hero #}



    <div id="content-container" class="container-fluid">
        <section class="about-section bg-primary">
            {% block page_content %}
               {{ page.content }}
            {% endblock page_content %}
        </section>
        {# SERVICES AND SKILLS #}
        <section class="services bg-lighter">
            <h2 class="text-center">Services</h2>
            <div class="row text-center">
                <div class="service-item col-md-4" data-aos="fade-down" data-aos-delay="200">
                    <div class="service-icon">
                        <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4>Web design/Frontend development</h4>
                    <p>I can do front end development using tools such as: Vue.js, Twitter's Bootstrap, HTML, CSS Javascript, JQuery, Twig</p>
                </div>{# service item #}

                <div class="service-item col-md-4" data-aos="fade-down" data-aos-delay="400">
                    <div class="service-icon">
                        <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4>Backend programming</h4>
                    <p>Backend programming in PHP using frameworks like Symfony2, or CMS like Grav and Wordpress</p>
                </div>{# service item #}

                <div class="service-item col-md-4" data-aos="fade-down" data-aos-delay="600">
                    <div class="service-icon">
                        <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4>Software development</h4>
                    <p>I can do software programming in languages like Java, C++, Python going from simple utilites to full blown desktop graphical apps</p>
                </div>{# service item #}
            </div>
        </section>{# services #}


        {# LATEST PROJECTS #}
        <section class="bg-mid">
            <h2 class="text-center">Latest Projects</h2>
            <div id="project-list" class="">
                {% set collection = page.find('/projects').children.slice(0, 4) %}
                {% for row in collection|batch(4) %}
                <div class="row">
                    {% for child in row %}
                        {# DETERMINE IMAGE #}
                        {% set project_image = child.header.project_image|defined(true) %}
                        {% set project_image_width  = child.header.project_image_width|defined(200) %}
                        {% set project_image_height = child.header.project_image_height|defined(200) %}
                        {% set project_image_file = child.header.project_image_file %}
                        {% if project_image %}
                            {% if project_image_file %}
                                {% set project_image_media = child.media.images[project_image_file].url %}
                            {% else %}
                                {% set project_image_media = child.media.images|first.url %}
                            {% endif %}
                        {% endif %}

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="project-list-item" data-aos="fade-up"
                                                           data-aos-delay="{{ loop.index * 100 * 2 }}">

                                <div class="project-list-item-image">
                                    <a href="{{ child.url }}" class="project-list-item-link">
                                        <div class="project-list-item-image-hover">
                                            <h3 class="project-list-item-name">Learn more <i class="fa fa-plus-circle" aria-hidden="true"></i></h3> 
                                        </div>
                                        <img src="{{ project_image_media }}" class="">
                                    </a>
                                    {% if project_image_media %}
                                        
                                    {% endif %}
                                </div>


                                <div class="project-list-item-description">
                                    <h4>{{ child.title }}</h4>
                                    <p>{{ child.header.category }}</p>
                                    <p class="project-techno">{{ child.header.technologies }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>{# row #}
                {% endfor %}

                <p class="text-center">
                    <a class="btn btn-ghost" href="{{ base_url ~ '/projects' }}">View all projects</a>
                </p>
            </div> {# project-list #}

        </section>

        {# BLOG POSTS #}
        <section class="bg-lighter">
            <h2 class="text-center">Lastest blog posts</h2>
            <div class="blog-posts-home container">
                <div class="row">
                    {% for p in page.find('/blog').children.reverse().slice(0, 3) if p != page %}
                        {# DETERMINE IMAGE #}
                        {% set feature_image = p.header.feature_image|defined(true) %}
                        {% set feature_image_width  = p.header.feature_image_width|defined(300) %}
                        {% set feature_image_height = p.header.feature_image_height|defined(300) %}
                        {% set feature_image_file = p.header.feature_image_file %}
                        {% if feature_image %}
                            {% if feature_image_file %}
                                {% set feature_image_media = p.media.images[feature_image_file].url %}
                            {% else %}
                                {% set feature_image_media = p.media.images|first.url %}
                            {% endif %}
                        {% endif %}



                        <div class="col-md-3">
                            <div class="blog-post-list-item" data-aos="fade-left"
                                                             data-aos-delay="{{ loop.index * 100 * 2 }}">

                                <div class="blog-post-list-item-image">
                                    <a href="{{ p.url }}" class="blog-post-list-item-link">
                                        <div class="blog-post-list-item-image-hover">
                                            <h3 class="blog-post-list-item-name">Learn more <i class="fa fa-plus-circle" aria-hidden="true"></i></h3> 
                                        </div>
                                        
                                    </a>
                                    {% if feature_image_media %}
                                        <img src="{{ feature_image_media }}" class="">
                                    {% endif %}
                                </div>


                                <div class="blog-post-list-item-description">
                                    <h4>{{ p.title }}</h4>
                                    <a href="{{ p.url }}" class="btn btn-ghost btn-fill">Read</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>{# .row #}
            </div>{# .blog-posts-home container #}
        </section>
    </div> {# #content-container #}
{% endblock %}