{% extends 'default.html.twig' %}

{% block content %}
    {% set background = page.media.images[page.header.feature_image].url %}

    <div class="fullscreen-hero" style="background-image: url({{ background }})">
        <a href="#content-container" class="scroll-icon scroll-down-icon"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>{# #page=hero #}
    <div id="content-container" class="container-fluid">
        <h2 class="text-center">Latest Projects</h2>
        <div id="project-list" class="">
            {% set collection = page.find('/projects').children.reverse() %}
            {% for row in collection|batch(4) %}
            <div class="row no-gutters">
                {% for child in row %}
                    {# DETERMINE IMAGE #}
                    {% set project_image = child.header.project_image|defined(true) %}
                    {% set project_image_width  = child.header.project_image_width|defined(200) %}
                    {% set project_image_height = child.header.project_image_height|defined(200) %}
                    {% set project_image_file = child.header.project_image_file %}
                    {% if project_image %}
                        {% if project_image_file %}
                            {% set project_image_media = child.media.images[project_image_file].url %}
                        {% else %}
                            {% set project_image_media = child.media.images|first.url %}
                        {% endif %}
                        {% if not project_image_media %}
                            {% set project_image_media = theme_url ~ "/dist/images/logo_sketch.jpg" %}
                        {% endif %}
                    {% endif %}

                    <div class="project-list-item">
                        <div class="col-xs-6 col-md-3 project-list-item">
                            <a href="{{ child.url }}"><h3 class="project-name">Learn more</h3></a>
                            {% if project_image_media %}
                                <img src="{{ project_image_media }}" class="">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>{# row #}
            {% endfor %}

            <p class="text-center">
                <a class="btn btn-ghost" href="{{ base_url ~ '/projects' }}">View all projects</a>
            </p>
        </div>


        <h2 class="text-center">Lastest blog posts</h2>
        <div class="news-grid container">
            <div class="row">
                {% for p in page.find('/blog').children.reverse().slice(0, 3) if p != page %}
                    {# DETERMINE IMAGE #}
                    {% set news_image = p.header.news_image|defined(true) %}
                    {% set news_image_width  = p.header.news_image_width|defined(300) %}
                    {% set news_image_height = p.header.news_image_height|defined(300) %}
                    {% set news_image_file = p.header.news_image_file %}
                    {% if news_image %}
                        {% if news_image_file %}
                            {% set news_image_media = p.media.images[news_image_file].url %}
                        {% else %}
                            {% set news_image_media = p.media.images|first.url %}
                        {% endif %}
                    {% endif %}
                    <div class="news-item col-md-4">
                    <img src="{{ news_image_media }}" height="200px">
                    <h3>{{ p.title }}</h3>
                    <a href="{{ p.url }}" class="btn btn-ghost">READ</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> {# #content-container #}
    <div class="about-section">
        <div class="container">
        {% block page_content %}
           {{ page.content }}
        {% endblock page_content %}
        </div>
    </div>
{% endblock %}