{% extends 'page.html.twig' %}


{% set  header_image = media.images[header.feature_image].url %}
    
{% set collection = page.collection() %}


{% for p in collection %}   

{% endfor %}



{% block page_content %}
<div id="project-list" class="container">
    {% for row in collection|batch(4) %}
    <div class="row">
        {% for child in row %}
            {# DETERMINE IMAGE #}
            {% set project_image = child.header.project_image|defined(true) %}
            {% set project_image_width  = child.header.project_image_width|defined(200) %}
            {% set project_image_height = child.header.project_image_height|defined(200) %}
            {% set project_image_file = child.header.project_image_file %}
            {% if project_image %}
                {% if project_image_file %}
                    {% set project_image_media = child.media.images[project_image_file].url %}
                {% else %}
                    {% set project_image_media = child.media.images|first.url %}
                {% endif %}
            {% endif %}

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="project-list-item" data-aos="fade-up"
                                               data-aos-delay="{{ random(10) * 100 }}">

                    <div class="project-list-item-image">
                        <a href="{{ child.url }}" class="project-list-item-link">
                            <div class="project-list-item-image-hover">
                                <h3 class="project-list-item-name">Learn more <i class="fa fa-plus-circle" aria-hidden="true"></i></h3> 
                            </div>
                            <img src="{{ project_image_media }}" class="">
                        </a>
                        {% if project_image_media %}
                            
                        {% endif %}
                    </div>


                    <div class="project-list-item-description">
                        <h4>{{ child.title }}</h4>
                        <p>{{ child.header.category }}</p>
                        <p class="project-techno">{{ child.header.technologies }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>{# row #}
    {% endfor %}

    {% if config.plugins.pagination.enabled and collection.params.pagination %}
        <div class="pagination-wrapper">
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        </div>
    {% endif %}
</div>


{% endblock page_content %}