{% extends 'page.html.twig' %}


{# DETERMINE IMAGE #}
{% set release_image = page.header.release_image|defined(true) %}
{% set release_image_width  = page.header.release_image_width|defined(300) %}
{% set release_image_height = page.header.release_image_height|defined(300) %}
{% set release_image_file = page.header.release_image_file %}
{% if release_image %}
    {% if release_image_file %}
        {% set release_image_media = page.media.images[release_image_file].url %}
    {% else %}
        {% set release_image_media = page.media.images|first.resize(300, 300).url %}
    {% endif %}
    {% if not release_image_media %}
        {% set release_image_media = theme_url ~ "/dist/images/logo_sketch.jpg" %}
    {% endif %}
{% endif %}

{% set header_image = release_image_media %}

{% block page_content %}
    <div class="release-view container">
        <div class="row">
            <div class="col-md-4 release-view-info">
                <img src="{{ release_image_media }}">
                <ul class="release-social-links">

                    {% if page.header.soundcloud_url %}
                        <li><a href="{{ page.header.soundcloud_url }}"><img src="{{ url('theme://dist/images/soundcloud.png') }}" alt="Soundcloud"></a></li>
                    {% endif %}

                    {% if page.header.beatport_url %}
                        <li><a href="{{ page.header.beatport_url }}"><img src="{{ url('theme://dist/images/beatport.png') }}" alt="Beatport"></a></li>
                    {% endif %}

                    {% if page.header.itunes_url %}
                        <li><a href="{{ page.header.itunes_url }}"><img src="{{ url('theme://dist/images/itunes.png') }}" alt="Itunes"></a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-8">
                {{ page.content}}
            </div>
        </div>

        <div class="player">
            {{ page.header.soundcloud_player_code|replace({'"></iframe>': '&amp;color=1C1C1C"></iframe>'})|raw }}
        </div>
    </div> {# .container #}
{% endblock page_content %}




